body {
    min-height: 100vh;
    font-family: sans-serif;
    max-width: 1000px;
    margin: auto;
    font-size: 25px;
    border-left: 8px solid lightgray;

}

header,
main,
footer {
    padding: 1rem 2rem;
}

h1 {
    color: tomato;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header a {
    color: lightgray;
}